* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 180px; /* .push must be the same height as .footer */
	width: 100vw;
	background-color: #E5E5E5;
}
#stage{
	height: 420px;
	width: 720px;
	background-color: white;
}