@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400);

body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight:lighter;
    margin: 20px 0;
}

#header img {
    max-width:200px;
    display:block;
    margin:0 auto;
}

a.button {
    padding:10px;
    margin:20px 10px;;
    border-radius:4px;
    color:#FFF;
    background-color:#E44;
    transition: all ease 0.3s;
    text-decoration:none;
    display:inline-block;
}

a.button:hover {
    background-color:#F66;
}



section {
    background-color:#EEE;
    padding:20px;
    text-align:center;
}

section:nth-child(even) {
    background-color:#E5E5E5;
}

.animation {
    padding:20px;
}

.animation img {
    max-width:400px;
}
